{%- style -%}
  .store-features-{{ section.id }} {
    background-color: #ebdccb !important; /* Soft warm tan background */
    padding: 6rem 3rem;
    color: #3b3023;
  }

  .store-features__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  @media screen and (max-width: 989px) {
    .store-features__grid {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4rem;
    }
  }

  @media screen and (max-width: 749px) {
    .store-features__grid {
      grid-template-columns: 1fr;
      row-gap: 4rem;
    }
  }

  .store-features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .store-features__icon-wrapper {
    margin-bottom: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #3b3023;
  }

  .store-features__icon-wrapper svg {
    width: 3.2rem;
    height: 3.2rem;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
  }

  /* Specific SVG overrides if stroke is needed */
  .store-features__icon-wrapper svg.stroke-icon {
    stroke-width: 1.5;
    fill: none;
  }

  .store-features__title {
    font-family: var(--font-body-family), sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #3b3023;
    margin: 0;
    line-height: 1.5;
    max-width: 250px;
  }
{%- endstyle -%}

<div class="store-features-{{ section.id }}">
  <ul class="store-features__grid">
    <li class="store-features__item">
      <div class="store-features__icon-wrapper">
        <!-- Delivery Truck with speed lines -->
       
<svg width="38" height="30" viewBox="0 0 38 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.5625 0C5.00977 0 3.75 1.25977 3.75 2.8125V5.625H0.9375C0.421875 5.625 0 6.04688 0 6.5625C0 7.07812 0.421875 7.5 0.9375 7.5H3.75H15.9375C16.4531 7.5 16.875 7.92188 16.875 8.4375C16.875 8.95312 16.4531 9.375 15.9375 9.375H3.75H2.8125C2.29688 9.375 1.875 9.79688 1.875 10.3125C1.875 10.8281 2.29688 11.25 2.8125 11.25H3.75H14.0625C14.5781 11.25 15 11.6719 15 12.1875C15 12.7031 14.5781 13.125 14.0625 13.125H3.75H0.9375C0.421875 13.125 0 13.5469 0 14.0625C0 14.5781 0.421875 15 0.9375 15H3.75H12.1875C12.7031 15 13.125 15.4219 13.125 15.9375C13.125 16.4531 12.7031 16.875 12.1875 16.875H3.75V24.375C3.75 27.4805 6.26953 30 9.375 30C12.4805 30 15 27.4805 15 24.375H22.5C22.5 27.4805 25.0195 30 28.125 30C31.2305 30 33.75 27.4805 33.75 24.375H35.625C36.6621 24.375 37.5 23.5371 37.5 22.5C37.5 21.4629 36.6621 20.625 35.625 20.625V16.875V15V13.9043C35.625 12.9082 35.2324 11.9531 34.5293 11.25L30 6.7207C29.2969 6.01758 28.3418 5.625 27.3457 5.625H24.375V2.8125C24.375 1.25977 23.1152 0 21.5625 0H6.5625ZM31.875 13.9043V15H24.375V9.375H27.3457L31.875 13.9043ZM9.375 21.5625C10.1209 21.5625 10.8363 21.8588 11.3637 22.3863C11.8912 22.9137 12.1875 23.6291 12.1875 24.375C12.1875 25.1209 11.8912 25.8363 11.3637 26.3637C10.8363 26.8912 10.1209 27.1875 9.375 27.1875C8.62908 27.1875 7.91371 26.8912 7.38626 26.3637C6.85882 25.8363 6.5625 25.1209 6.5625 24.375C6.5625 23.6291 6.85882 22.9137 7.38626 22.3863C7.91371 21.8588 8.62908 21.5625 9.375 21.5625ZM25.3125 24.375C25.3125 23.6291 25.6088 22.9137 26.1363 22.3863C26.6637 21.8588 27.3791 21.5625 28.125 21.5625C28.8709 21.5625 29.5863 21.8588 30.1137 22.3863C30.6412 22.9137 30.9375 23.6291 30.9375 24.375C30.9375 25.1209 30.6412 25.8363 30.1137 26.3637C29.5863 26.8912 28.8709 27.1875 28.125 27.1875C27.3791 27.1875 26.6637 26.8912 26.1363 26.3637C25.6088 25.8363 25.3125 25.1209 25.3125 24.375Z" fill="#3F2E24"/>
</svg>

      </div>
      <h3 class="store-features__title">{{ section.settings.title_1 }}</h3>
    </li>
    <li class="store-features__item">
      <div class="store-features__icon-wrapper">
        <!-- Leaf Icon -->
        
<svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.9375 3.75441C11.332 3.75441 7.43555 6.77199 6.11133 10.9321C8.08008 9.93605 10.3008 9.37941 12.6562 9.37941H17.8125C18.3281 9.37941 18.75 9.80129 18.75 10.3169C18.75 10.8325 18.3281 11.2544 17.8125 11.2544H16.875H12.6562C11.6836 11.2544 10.7402 11.3657 9.83203 11.5708C8.31445 11.9165 6.90234 12.5318 5.64844 13.3696C2.24414 15.6372 0 19.5103 0 23.9107V24.8482C0 25.6275 0.626953 26.2544 1.40625 26.2544C2.18555 26.2544 2.8125 25.6275 2.8125 24.8482V23.9107C2.8125 21.0571 4.02539 18.4907 5.96484 16.6919C7.125 21.1157 11.1504 24.3794 15.9375 24.3794H15.9961C23.7363 24.3384 30 16.7095 30 7.30519C30 4.8091 29.5605 2.43605 28.7637 0.29738C28.6113 -0.106917 28.0195 -0.089339 27.8145 0.29152C26.7129 2.35402 24.5332 3.75441 22.0312 3.75441H15.9375Z" fill="#3F2E24"/>
</svg>

      </div>
      <h3 class="store-features__title">{{ section.settings.title_2 }}</h3>
    </li>
    <li class="store-features__item">
      <div class="store-features__icon-wrapper">
        <!-- Secure Padlock -->
       
<svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.4375 8.4375V11.25H17.8125V8.4375C17.8125 5.84766 15.7148 3.75 13.125 3.75C10.5352 3.75 8.4375 5.84766 8.4375 8.4375ZM4.6875 11.25V8.4375C4.6875 3.7793 8.4668 0 13.125 0C17.7832 0 21.5625 3.7793 21.5625 8.4375V11.25H22.5C24.5684 11.25 26.25 12.9316 26.25 15V26.25C26.25 28.3184 24.5684 30 22.5 30H3.75C1.68164 30 0 28.3184 0 26.25V15C0 12.9316 1.68164 11.25 3.75 11.25H4.6875Z" fill="#3F2E24"/>
</svg>

      </div>
      <h3 class="store-features__title">{{ section.settings.title_3 }}</h3>
    </li>
    <li class="store-features__item">
      <div class="store-features__icon-wrapper">
        <!-- Open Box flap icon -->
       
<svg width="38" height="30" viewBox="0 0 38 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.45144 2.46719C3.62722 2.10977 4.01394 1.90469 4.40651 1.95743L18.7503 3.75039L33.094 1.95743C33.4866 1.91055 33.8733 2.11563 34.0491 2.46719L36.4925 7.35391C37.0198 8.40274 36.4573 9.67422 35.3323 9.99649L25.7581 12.7328C24.9436 12.9672 24.0706 12.6215 23.637 11.8949L18.7503 3.75039L13.8635 11.8949C13.43 12.6215 12.5569 12.9672 11.7425 12.7328L2.17409 9.99649C1.04323 9.67422 0.486591 8.40274 1.01394 7.35391L3.45144 2.46719ZM18.8147 7.50039L22.0315 12.8559C22.9046 14.309 24.6448 15.0004 26.2796 14.5316L33.7503 12.3988V22.184C33.7503 23.4731 32.8714 24.5981 31.6175 24.9145L19.6585 27.9027C19.0608 28.0551 18.4339 28.0551 17.8421 27.9027L5.88308 24.9145C4.62917 24.5922 3.75026 23.4672 3.75026 22.1781V12.393L11.2268 14.5316C12.8557 15.0004 14.6018 14.309 15.4749 12.8559L18.6858 7.50039H18.8147Z" fill="#3F2E24"/>
</svg>

      </div>
      <h3 class="store-features__title">{{ section.settings.title_4 }}</h3>
    </li>
  </ul>
</div>

{% schema %}
{
  "name": "Store Features",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title_1",
      "label": "Feature 1 Title",
      "default": "PAN-INDIA DELIVERY"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Feature 2 Title",
      "default": "PREMIUM, HAND-CRAFTED MATERIALS"
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Feature 3 Title",
      "default": "SECURE CHECKOUT"
    },
    {
      "type": "text",
      "id": "title_4",
      "label": "Feature 4 Title",
      "default": "ELEGANT, PROTECTIVE PACKAGING"
    }
  ],
  "presets": [
    {
      "name": "Store Features"
    }
  ]
}
{% endschema %}
